* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

a {
    /* color: rgb(155, 90, 207); */
    text-decoration: none;
}

.container-fluid,
p,
.row {

    padding: 0 !important;
    margin : 0 !important;
}

.header {
    display         : flex;
    flex-flow       : row nowrap;
    width           : 100%;
    height          : 70px;
    top             : 0;
    background-color: rgb(66, 16, 160);
    position        : fix;
    padding         : 10px 10px;


}

.loginup {

    display    : flex;
    align-items: center;
    flex-flow  : row nowrap;


}

.loginup a {
    padding-left   : 5px;
    padding-right  : 5px;
    text-decoration: none;
    font-weight    : bold;
    font-size      : 1rm;

}

.nav {

    display        : flex;
    flex-flow      : row nowrap;
    flex           : 1;
    justify-content: flex-start;
    align-items    : center;

}

.menu-btn {
    display: none;

}

.logo {
    max-width    : 160px;
    padding-right: 10px;

}

.logo img {

    width      : 100%;
    margin-left: 10px;

}



.menu a {
    padding-right  : 30px;
    text-decoration: none;
    font-weight    : bold;
}

/* بنر */
.banner {
    width   : 100%;
    position: relative;
}

.coverimage {
    width: 100%;
    top  : 0;
}

.coverimage img {
    width: 100%;
}

.innerimage {
    position: absolute;
    top     : 41%;
    left    : 8%;
}

.innerimage img {
    width: 360px;
}

.innerimage p {
    font-size  : 26px;
    color      : darkmagenta;
    font-weight: bold;
}

/* گذاشتن متن بین خط */

.strikearound {
    color      : rgb(126, 29, 172);
    margin-top : 10px;
    position   : relative;
    display    : flex;
    align-items: center;
    font-size  : 14px;
    z-index    : 1;
    overflow   : hidden;
    text-align : right;
}

.strikearound:before,
.strikearound:after {
    overflow        : hidden;
    height          : 1px;
    content         : '';
    background-color: rgb(126, 29, 172);
    margin          : 40px 10px;
}

.strikearound:before {
    text-align: right;
    flex      : 1;
    right     : 0;
}

.strikearound:after {
    text-align: left;

    flex: 9;
    left: 0;
}

/* باکس تصاویر */


.card {
    margin-top   : 10px;
    margin-bottom: 10px;
    border-radius: 30px;
    overflow     : hidden;
    position     : relative;
}

.card:hover .caption {
    transition : 1s;
    height     : 100%;
    padding-top: 5px;

}



.imgcard img {
    width: 100%;

}

.card .caption {

    position        : absolute;
    height          : 50%;
    width           : 100%;
    bottom          : 0;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius   : 13% 13% 0 0;
    text-align      : right;
    padding-right   : 7px;
    padding-left    : 7px;
    color           : rgb(126, 29, 172);
    font-weight     : bold;
}

/* فوتر */
.footer {
    background-color: rgb(16, 17, 39);
    color           : white;
    text-align      : center;
    font-size       : 12px;
}

.footer .center {
    width        : 80%;
    margin-top   : 0;
    margin-bottom: 0;
    margin-left  : auto;
    margin-right : auto;
}

.footer .nav {

    display        : flex;
    align-items    : center;
    justify-content: space-around;
    flex-flow      : row nowrap;
    padding-top    : 20px;
}

.nav .nav1 {
    display        : flex;
    align-items    : center;
    flex           : 1;
    justify-content: space-around;

}

.nav .nav2 {
    display        : flex;
    align-items    : center;
    flex           : 1;
    justify-content: space-around;
}

.nav .nav2 a,
.nav .nav1 a {
    color    : white;
    flex     : 1;
    font-size: 20px;
}

.nav .nav1 .vline,
.nav .nav2 .vline {
    color      : white;
    flex       : 0;
    border-left: 1px solid red;
    height     : 8px;
}

.footer .row {
    display        : flex;
    justify-content: space-around;
    align-items    : center;
    padding        : 10px;
}

.footer .col-md-4 {
    margin-top: 30px;

}

.footer img {
    background-color: white;
    border-radius   : 50%;
    object-fit      : none;

}

.footer img:nth-child(2) {
    object-position: top;
    object-fit     : none;

}

.copyright {
    margin-top    : 0;
    padding-top   : 30px;
    padding-bottom: 35px;
    margin-left   : auto;
    margin-right  : auto;
    line-height   : 40px;
}


@media only screen and (max-width: 1200px) {

    /* عکس و کپشن داخلی بنر*/
    .innerimage {
        position: absolute;
        top     : 41%;
        left    : 7%;
    }

    .innerimage img {
        width: 300px;
    }

    .innerimage p {
        font-size: 21px;
    }


}

@media only screen and (max-width: 992px) {

    /* عکس و کپشن داخلی بنر*/
    .innerimage img {
        width: 212px;
    }

    .innerimage p {
        font-size: 15px;
    }

    .footer .center {
        width: 75%;
    }
}


@media only screen and (max-width:768px) {

    /* عکس و کپشن داخلی بنر*/

    .innerimage img {
        width: 180px;
    }

    .innerimage p {
        font-size: 13px;
    }

    /* فوتر */
    .footer {
        font-size: 12px;
    }

    .footer .center {
        width: 70%;
    }

    .display {
        display: none;
    }

    .footer .nav {
        display       : block;
        padding-top   : 40px;
        padding-bottom: 20px;
    }

    .nav .nav2 {
        margin-top: 20px;
    }
}


@media only screen and (max-width: 600px) {

    /* هدر: هاید شدن منو و نمایش باتم */
    .menu-btn {
        display: block;
    }

    .header .nav .menu {
        display: none;
    }

    .loginup {
        font-size: 11px;
    }

    /* بنر */
    .innerimage img {
        width: 145px;
    }

    .innerimage p {
        font-size: 10px;
    }

    .strikearound {
        font-size: 13px;
    }

    .caption {
        font-size: 12px;
    }
}


@media only screen and (max-width: 450px) {

    /* بنر */
    .innerimage img {
        width: 110px;
    }

    .innerimage p {
        font-size: 8px;
    }

    .innerimage {
        position: absolute;
        left    : 6%;
    }
}


@media only screen and (max-width: 360px) {

    /* بنر */
    .innerimage img {
        width: 95px;
    }

    .innerimage p {
        font-size: 7px;
    }

    .innerimage {
        left: 5%;
    }
}